<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Search for a user</h1>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <h3>Enter a username or email</h3>
        @using (Html.BeginForm("SearchResults", "CVGSUsers"))
        {
            <input type="text" id="SearchText" name="SearchText" class="form-control" placeholder="Search..."><br />
            <input class="btn btn-default" type="submit" value="Search!"/>
        }
    </div>
</div>



