<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Electric Pineapple Gaming Store</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="~/Content/css/metisMenu.css" rel="stylesheet" />
    <!-- Custom CSS -->
    @*@<link href="~/Content/css/lightTheme.css" rel="stylesheet" />*@
    <link href="~/Content/css/darkTheme.css" rel="stylesheet"/>
    <!-- Font Awesome-->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />

</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href=@Url.Action("Index", "Home")><img src="~/Content/images/tempLogo.png" /></a>
                <a class="navbar-brand" href=@Url.Action("Index", "Home")>Electric Pineapple</a>
            </div>
            <!-- /.navbar-header -->            
                    @Html.Partial("_LoginPartial")
                <!-- /.navbar-top-links -->
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                            <li class="sidebar-search">
                                <div class="input-group custom-search-form">
                                    @using (Html.BeginForm("Search", "Game"))
                                    {
                                        <input type="text" id="SearchText" name="SearchText" class="form-control" placeholder="Search..." value="@ViewData["SearchTerm"]">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="submit">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </span>
                                    }
                                </div>
                                <!-- /input-group -->
                            </li>
                            <li>
                                <a href=@Url.Action("Index", "Home")><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                            </li>
                            <li>
                                <a href=@Url.Action("Index", "Game")><i class="fa fa-gamepad"></i> Games</a>
                            </li>
                            <li>
                                <a href=@Url.Action("Index", "Genre")><i class="fa fa-tasks"></i> Genres</a>
                            </li>
                            <li>
                                <a href=@Url.Action("Index", "Publisher")><i class="fa fa-table fa-fw"></i> Publishers</a>
                            </li>
                            <li>
                                <a href=@Url.Action("About", "Home")><i class="fa fa-edit fa-fw"></i> News</a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-fighter-jet fa-fw"></i> Account Settings<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href=@Url.Action("Register", "Account")>Register</a>
                                    </li>
                                    <li>
                                        <a href=@Url.Action("About", "Home")>Settings</a>
                                    </li>
                                    
                                        @if (Request.IsAuthenticated)
                                        {
                                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
                                            {
                                                <li>
                                                    <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                                                </li>
                                            }
                                        }
                                        else
                                        {
                                            <li>
                                                <a href=@Url.Action("Login", "Account")>Login</a>
                                            </li>
                                        }
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        </ul>
                    </div>
                    <!-- /.sidebar-collapse -->
                </div>
                <!-- /.navbar-static-side -->
</nav>
        <div id="page-wrapper">
            @RenderBody()
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    @*@Scripts.Render("~/Content/js");*@

    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/js/metisMenu.js"></script>
    <script type="text/javascript" src="~/Content/js/sb-admin-2.js"></script>
    @*@RenderSection("scripts", required: false)*@
</body>
</html>

