@model ElectricPineapple.News

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">News</h1>
    </div>
</div>

<div>
    
    <hr />
    <dl class="dl-horizontal">

        <dd>
            <h3>@Html.DisplayFor(model => model.Title)</h3>
        </dd>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
@if(User.IsInRole("Admin"))
{ 
    @Html.ActionLink("Edit", "Edit", new { id = Model.newsID }); @: | 
    @Html.ActionLink("Back to List", "Index");
    }
</p>
