<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">About Electric Pineapple</h1>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <p>Use this area to provide additional information.</p>
    </div>
</div>
