@{
    ViewBag.Title = "Batman Arkham Asylum";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Batman Arkham Asylum</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default panel-center">
            <div class="panel-heading">
                <h3 class="panel-title">Batman Arkham Asylum</h3>
            </div>
            <div class="panel-body">
                    <img src="~/Content/images/batmanScreenshot.jpg"/>
                    <span class="panel-game-details">
                        $69.99<br /><br />
                        PC Horror<br /><br />
                        Action<br/><br/>
                        Experience what it’s like to be Batman and face off against Gotham's greatest villians. Explore every inch of Arkham Asylum and roam freely on the infamous island. Batman punches the living shit outta some god damn bad guys. <br /><br />
                        <input class="btn btn-add-to-cart" type="button" value="Add To Cart" /><br /><br/>
                        <input class="btn btn-add-to-wishlist" type="button" value="Add To Wishlist" />
                    </span>
             </div>
         </div>
    </div>
</div>