@{
    ViewBag.Title = "Electric Pineapple Game Catalogue";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Games</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <p>I sexually Identify as John Cena. Ever since I was a boy I dreamed of defending my WWE championship at WWE SUPERSLAM. People say to me that a person being John Cena is Impossible and I'm fucking retarded but I don't care, You Can't See Me. I'm having Vince McMahon inject me with Hustle, Loyalty, and Respect. From now on I want you guys to call me "Champ" and respect my right to Five Knuckle Shuffle and Never Give Up. If you can't accept me you're a cenaphobe and need to check your championship privilege. Thank you for being so understanding.</p>
    </div>   
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                <h3 class="panel-title">Halo - Combat Evolved</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Content/images/box covers/halo1_box.jpg" width="155" height="220" />
                    <span class="panel-game-info">
                        $69.99<br /><br />
                        XBOX, FPS<br /><br />
                        I think Halo is a pretty <br />cool guy. Eh kills aleins <br />and doesnt afraid <br />of anything.<br /><br />
                        <input class="btn btn-add-to-cart" type="button" value="Add To Cart" />
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Fallout 3</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Content/images/box covers/fallout3_box.jpg" width="155" height="220" />
                    <span class="panel-game-info">$69.99<br/><br/>
                        XBOX 360, RPG<br/><br/>
                        I think Halo is a pretty <br/>cool guy. Eh kills aleins <br/>and doesnt afraid <br/>of anything.<br/><br/>
                        <input class="btn btn-add-to-cart" type="button" value="Add To Cart" />
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Saints Row 2</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Content/images/box covers/saintsrow2_box.jpg" width="155" height="220" />
                    <span class="panel-game-info">
                        $69.99<br /><br />
                        XBOX 360, Shooter<br /><br />
                        I think Halo is a pretty <br />cool guy. Eh kills aleins <br />and doesnt afraid <br />of anything.<br /><br />
                        <input class="btn btn-add-to-cart" type="button" value="Add To Cart" />
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Left 4 Dead</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Content/images/box covers/left4dead_box.jpg" width="155" height="220" />
                    <span class="panel-game-info">
                        $69.99<br /><br />
                        PC, Horror<br /><br />
                        I think Halo is a pretty <br />cool guy. Eh kills aleins <br />and doesnt afraid <br />of anything.<br /><br />
                        <input class="btn btn-add-to-cart" type="button" value="Add To Cart" />
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Halo - Combat Evolved</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Content/images/box covers/halo1_box.jpg" width="155" height="220" />
                    <span class="panel-game-info">
                        $69.99<br /><br />
                        XBOX, FPS<br /><br />
                        I think Halo is a pretty <br />cool guy. Eh kills aleins <br />and doesnt afraid <br />of anything.<br /><br />
                        <input class="btn btn-add-to-cart" type="button" value="Add To Cart" />
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Fallout 3</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Content/images/box covers/fallout3_box.jpg" width="155" height="220" />
                    <span class="panel-game-info">
                        $69.99<br /><br />
                        XBOX 360, RPG<br /><br />
                        I think Halo is a pretty <br />cool guy. Eh kills aleins <br />and doesnt afraid <br />of anything.<br /><br />
                        <input class="btn btn-add-to-cart" type="button" value="Add To Cart" />
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Saints Row 2</h3>
                </div>
                <div class="panel-body">
                    <img src="~/Content/images/box covers/saintsrow2_box.jpg" width="155" height="220" />
                    <span class="panel-game-info">
                        $69.99<br /><br />
                        XBOX 360, Shooter<br /><br />
                        I think Halo is a pretty <br />cool guy. Eh kills aleins <br />and doesnt afraid <br />of anything.<br /><br />
                        <input class="btn btn-add-to-cart" type="button" value="Add To Cart" />
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Left 4 Dead</h3>

                </div>
                <div class="panel-body">
                    <img src="~/Content/images/box covers/left4dead_box.jpg" width="155" height="220" />
                    <span class="panel-game-info">
                        $69.99<br /><br />
                        PC, Horror<br /><br />
                        I think Halo is a pretty <br />cool guy. Eh kills aleins <br />and doesnt afraid <br />of anything.<br /><br />
                        <input class="btn btn-add-to-cart" type="button" value="Add To Cart" />
                    </span>
                </div>
            </div>
        </div>

    </div>
</div>

    