@{
    ViewBag.Title = "Electric Pineapple";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">My Dashboard</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div id="myCarousel" class="carousel slide" style="height:425px;" data-ride=" carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/Content/images/bf4.jpg" alt="Battlefield 4">
            </div>

            <div class="item">
                <img src="~/Content/images/assasins.jpg" alt="Assassins Creed">
            </div>

            <div class="item">
                <img src="~/Content/images/Batman.jpg" alt="NANANANANANANANAN BATMAN">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
</br>
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-comments fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">26</div>
                        <div>New Games!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer-top">
                    <span class="pull-left">View New Releases</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">12</div>
                        <div>New Events!</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer-top">
                    <span class="pull-left">View Upcoming Events</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-tasks fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge">12</div>
                        <div>New Sales</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer-top">
                    <span class="pull-left">View Game Sales</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-8">
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> News

            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- /.row -->
                <p>- Rated as the number one gaming site on PCGamer</p>
                <p>- Site will go under maintenance sometime this month we'll keep you updated</p>
                <p>- We will be holding a draw this Christmas and the winner may choose any game from the site for free</p>
                <p>- Bungie has announced that its Refer-A-Friend program kicks off on Monday 23rd of November</p>
                <p>- Xbox One Special Edition Armed Forces Controller is back by popular demand</p>
                <p>- NCSOFT announced today upcoming MMO Blade & Soul will launch in North America and Europe on January 19, 2016</p>
                <p>- Black Friday sales will start Nov. 27 2015 to Nov. 29 2015</p>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-clock-o fa-fw"></i> Top Stories
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <ul class="timeline">
                     <li>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">
                                    <img src="~/ImageForTopStories/blackops.jpg">
                                    <a href="http://ca.ign.com/articles/2015/11/20/sony-confirms-ps2-emulation-is-coming-to-playstation-4?utm_source=IGN%20hub%20page&utm_medium=IGN%20(front%20page)&utm_content=6&utm_campaign=Blogroll">
                                        Call of Duty Black Ops 3: Optimizing Your Seraph Specialist</a>
                                </h4>
                            </div>
                        </div>
                    <li>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">
                                    <img src="~/ImageForTopStories/ps4.jpg">
                                    <a href="http://ca.ign.com/articles/2015/11/20/sony-confirms-ps2-emulation-is-coming-to-playstation-4?utm_source=IGN%20hub%20page&utm_medium=IGN%20(front%20page)&utm_content=6&utm_campaign=Blogroll">
                                        Sony Confirms PS2 Emulation Is Coming to PlayStation 4
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">
                                    <img src="~/ImageForTopStories/nfs.jpg">
                                <a href="http://ca.ign.com/videos/2015/11/18/how-to-easily-build-crew-rep-in-need-for-speed-best-way-to-play?%20hub%20page%20(front%20page)&utm_content=13">
                                    How to Easily Build Crew Rep in Need for Speed - Best Way to Play</a>
                                </h4>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">
                                    <img src="~/ImageForTopStories/halo5.jpg">
                                    <a href="http://ca.ign.com/articles/2015/11/19/halo-5-see-all-4-new-big-team-battle-maps">Halo 5: See All 4 New Big Team Battle Maps</a>
                                </h4>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">
                                    <img src="~/ImageForTopStories/starwars.jpg">
                                    <a href="http://ca.ign.com/wikis/star-wars-battlefront-next-gen/Tips_and_Tricks">13 Tips to Make You Better at Star Wars Battlefront</a>
                                </h4>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">
                                    <img src="~/ImageForTopStories/fallout4.jpg">
                                    <a href="http://ca.ign.com/articles/2015/11/19/expect-fallout-4s-first-patch-as-soon-as-next-week">
                                    Some of Fallout 4's Major Issues Are About to Be Resolved</a>
                                </h4>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">
                                    <img src="~/ImageForTopStories/starwars2.jpg">
                                    <a href="http://ca.ign.com/videos/2015/11/12/star-wars-battlefront-heroes-and-villains-montage">
                                        Star Wars Battlefront Heroes and Villains Montage
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">
                                    <img src="~/ImageForTopStories/blackops2.jpg">
                                    <a href="http://ca.ign.com/videos/2015/11/19/call-of-duty-black-ops-3-how-to-dominate-with-the-prophet-specialist-best-in-class">
                                        How to Dominate with the Prophet Specialist in Call of Duty Black Ops 3</a>
                                </h4>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-8 -->
    <div class="row">
        <div class="col-lg-4">
            <!-- /.panel -->

            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Top Rated Games
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Game</th>
                                    <th>Rating</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>3326</td>
                                    <td>Metal Gear Solid V: The Phantom Pain</td>
                                    <td>10/10</td>
                                </tr>
                                <tr>
                                    <td>3325</td>
                                    <td>Fallout 4</td>
                                    <td>9.5/10</td>
                                </tr>
                                <tr>
                                    <td>3324</td>
                                    <td>Rise of the Tomb Raider</td>
                                    <td>9.3/10</td>
                                </tr>
                                <tr>
                                    <td>3323</td>
                                    <td>Call of Duty: Black Ops III</td>
                                    <td>9.2/10</td>
                                </tr>
                                <tr>
                                    <td>3322</td>
                                    <td>Divinity: Original Sin - Enhanced Edition</td>
                                    <td>9/10</td>
                                </tr>
                                <tr>
                                    <td>3321</td>
                                    <td>Halo 5: Guardians</td>
                                    <td>9/10</td>
                                </tr>
                                <tr>
                                    <td>3320</td>
                                    <td>Forza Motorsport 6</td>
                                    <td>9/10</td>
                                </tr>
                                <tr>
                                    <td>3319</td>
                                    <td>WWE 2K16</td>
                                    <td>8.8/10</td>
                                </tr>
                                <tr>
                                    <td>3318</td>
                                    <td>Rock Band 4</td>
                                    <td>8.8/10</td>
                                </tr>
                                <tr>
                                    <td>3317</td>
                                    <td>Gears of War: Ultimate Edition</td>
                                    <td>8.5/10</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
                
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Upcoming Games
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Game</th>
                                    <th>Release Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Scalebound</td>
                                    <td>Q4 2016</td>
                                </tr>
                                <tr>
                                    <td>Fable Legends</td>
                                    <td>Nov. 17 2015</td>
                                </tr>
                                <tr>
                                    <td>Star Wars Battlfront</td>
                                    <td>Nov. 17 2015</td>
                                </tr>
                                <tr>
                                    <td>Kung Fu Panda: Showdown of Legendary Legends</td>
                                    <td>Nov. 17 2015</td>
                                </tr>
                                <tr>
                                    <td>Deadpool</td>
                                    <td>Nov. 17 2015</td>
                                </tr>
                                <tr>
                                    <td>Just Cause 3</td>
                                    <td>Dec. 1 2015</td>
                                </tr>
                                <tr>
                                    <td>Tom Clancy's Rainbow Six Siege</td>
                                    <td>Dec. 1 2015</td>
                                </tr>
                                <tr>
                                    <td>Naruto Shippuden: Ultimate Ninja Storm</td>
                                    <td>Feb. 9 2016</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel body -->
            <!-- /.panel -->
        </div>
    </div>
    <!-- /.col-lg-4 -->
</div>
<!-- /.row -->