@model ElectricPineapple.Publisher

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Details</h1>
    </div>
</div>

<div>
    <h4>Publisher</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.publisher1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publisher1)
        </dd>

        <dd>
            <img src="~/Content/images/publishers/@Model.imagePath" width="800" height="450" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.publisherID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
