@model IEnumerable<ElectricPineapple.Publisher>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Publishers</h1>
    </div>
</div>
@if(User.IsInRole("Admin"))
{ 
    @Html.ActionLink("Create New", "Create");
}

@*Show cards for each publisher*@
@{int i = 0;}
@foreach (var item in Model)
{
    if (i == 0)
    {
        @:<div class="row">
        @:<div class="col-lg-12">
	}

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href=@Url.Action("Details", "Publisher", new {id = item.publisherID})>
                        <h3 class="panel-title">@item.publisher1</h3>
                    </a>
                </div>
                <div class="panel-body">
                    <a href=@Url.Action("Details", "Publisher", new {id = item.publisherID})>
                        <img src="~/Content/images/publishers/@item.imagePath" width="200" height="220" />
                    </a>
                </div>
            </div>
        </div>

        i++;
        if (i == 4)
        {
            i = 0;
            @:</div>
            @:</div>
        }

}
@if (i != 0)
{
    @:</div>
    @:</div>
}




