@model ElectricPineapple.Models.IndexViewModel

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Manage</h1>
    </div>
</div>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            
        </dd>
        <dt>Change Credit Card Settings:</dt>
        <dd>
            @Html.ActionLink("Credit Card Settings", "Index", "CreditCards")
        </dd>
    </dl>
</div>
