@model IEnumerable<ElectricPineapple.Genre>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Genres</h1>
    </div>
</div>

@{int i = 0;}
@foreach (var item in Model)
{
    if (i == 0)
    {
        @:<div class="row">
        @:<div class="col-lg-12">
	}
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href=@Url.Action("Details", "Genre", new {id = item.genreID})>
                    <h3 class="panel-title">@item.genre1</h3>
                </a>
            </div>
            <div class="panel-body">
                <a href=@Url.Action("Details", "Genre", new { id = item.genreID })>
                    <img src="~/Content/images/genres/@item.imagePath" width="340" height="220" />
                </a>
            </div>
        </div>
    </div>

    i++;
    if (i == 4)
    {
        i = 0;
        @:</div>
        @:</div>
    }

}
@if (i != 0)
{
    @:</div>
    @:</div>
}