<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Forgot Password</h1>
    </div>
</div>
<div>
    <p>
        Please check your email to reset your password.
        Please pretend this is an email. <a href="@TempData["ResetPasswordUrl"]">Click to reset password</a>

    </p>
</div>
	
