<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Reset password confirmation</h1>
    </div>
</div>

<div>
    <p>
        Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
